/* src/styles/main.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --primary-bg: #5A6BB0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
